// bower:scss
@import "vendors/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "vendors/neat/app/assets/stylesheets/_neat.scss";
@import "vendors/reset-scss/reset.scss";
@import "vendors/sass-mediaqueries/media-queries";
// endbower

@import 'base/base';
@import 'layouts/layouts';
@import 'components/components';

#loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: #ffffff url('http://www.pdnonline.com/static/structural_images/loading.gif') center center no-repeat;
  z-index: 99;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}
