#canvas {
  position: fixed;
  bottom: 0;
  height: 100%;
  
  @include max-screen(768px) {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
  }

  @include max-screen(675px) { 
    display: none;
  }

  canvas {
    @include max-screen(900px) {
      height: 100% !important;
    }
  }
  
}

#canvas-content {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  height: 56000px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @include max-screen(675px) {
    height: auto;
  }
}