#canvas {
  position: fixed;
  bottom: 0;
  height: 100%;
  @include max-screen(630px) {
    display: none;
  }
}

#canvas-content {
  height: 56000px;
  @include max-screen(630px) {
    height: auto;
  }
}