#canvas-content {
  position: relative;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.panel {
  position: relative;
  width: 100%;
  top: 0;
  color: #ffffff;

  &.one {
    margin-bottom: 2370px;
    margin-top: 500px;
  }

  &.two {
    margin-bottom: 1000px;
  }

  &.three {
    margin-top: -1000px;
  }

  &.four {
    margin-bottom: 4000px;
  }

  &.five {
    margin-top: -4000px;
  }

  h2 {
    position: absolute;
    bottom: 5%;
    width: 100%;
    max-width: 1110px;
    color: #1c87c9;
    text-transform: uppercase;
    text-align: center;
  }
}