.panel {
  position: relative;
  width: 50%;
  margin: 0 auto;
  top: 0;
  color: #ffffff;

  @include max-screen(1080px) {
    width: 50%;
  }

  &.one {
    margin-bottom: 2000px;
    margin-top: 500px;
  }

  &.two {
    margin-bottom: 1000px;
  }

  &.three {
    margin-top: -1000px;
    margin-bottom: 600px;
  }

  &.four {
    margin-bottom: 4000px;
  }

  &.five {
    margin-top: -4000px;
  }

  @include max-screen(630px) {
    display: none;
    width: 100%;
    background: rgb(255, 192, 203);
    &.one, &.two, &.three, &.four, &.five, &.six {
      margin: 0;
    }
  }

  h2 {
    position: absolute;
    bottom: 5%;
    width: 100%;
    max-width: 1110px;
    color: #1c87c9;
    text-transform: uppercase;
    text-align: center;
    @include max-screen(630px) {
      @include vertical-align();
      width: 80%;
      margin: 0 auto;
    }
  }
}