.popout {
    position: fixed;
    width: 24%;
    color: #ffffff;
    display: none;
    &.one {
        margin: 50px 0 0 0px;
        left: 10px;
        top: 150px;
        @include max-screen(1080px) {
            margin: 160px 0 0;
            width: 40%;
        }
        .dot {
            left: 105%;
            top: 0;
            @include max-screen(1080px) {
                left: 45%;
                top: -80px;
            }
        }
    }
    &.two {
        left: 75%;
        top: 170px;
        @include max-screen(1080px) {
            left: 49%;
            top: 290px;
            width: 50%;
        }
    }
    &.three {
        left: 75%;
        top: 420px;
        @include max-screen(1080px) {
            left: 49%;
            top: 525px;
            width: 50%;
        }
    }

    &.two, &.three {
        .dot {
            left: -40px;
            top: 50px;
            @include max-screen(1080px) {
                left: 280px;
                top: -70px;
            }
        }
    }

    a {
        color: #1c87c9;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
        border-bottom: 3px solid #1c87c9;
        padding-right: 10px;
    }
    h3 {
        color: #1c87c9;
        text-transform: uppercase;
        margin: 0 0 15px;
    }

    p {
        @include default(14px, 18px);
        font-weight: 100;
    }
    .links {
        margin: 50px 0 0;
        li {
            display: inline-block;
            padding: 0 0 0 15px;
            color: #1c87c9;
            &:first-child {
                padding-left: 0;
            }
        }   
    }

}

.dot {
    display: block;
    background: #1c87c9;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 25px;
    padding: 3px 0 0;
    position: absolute;
    top: 30%;
    left: 300px;
    cursor: pointer;
}

.popout-box {
    display: none;
    background: rgba(255,255,255,0.2);
    padding: 20px;
}