html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: inherit;
  color: black; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }

#loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: white url("http://www.pdnonline.com/static/structural_images/loading.gif") center center no-repeat;
  z-index: 99;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 25px; }

header {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0; }
  header:after {
    content: "";
    display: table;
    clear: both; }

.logo {
  float: right;
  margin: 50px; }
  .logo h1 {
    background: transparent url("../../images/logo.png") 0 0 no-repeat;
    width: 280px;
    height: 44px; }
  .logo a {
    display: block;
    text-indent: -8400px;
    width: inherit;
    height: inherit; }

footer {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0; }
  footer:after {
    content: "";
    display: table;
    clear: both; }

.upball {
  float: right;
  margin: 50px;
  width: 100px;
  height: 100px; }
  .upball h1 {
    background: transparent url("../../images/upball.png") 0 0 no-repeat;
    background-size: contain;
    height: 217px; }
  .upball a {
    display: block;
    text-indent: -8400px;
    width: inherit;
    height: inherit; }

#canvas {
  position: fixed;
  bottom: 0;
  height: 100%; }

#canvas-content {
  height: 56000px; }

#canvas-content {
  position: relative;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto; }

.panel {
  position: fixed;
  width: 100%;
  top: 0;
  color: #ffffff; }
  .panel.show {
    display: block; }
  .panel.hide {
    display: none; }
  .panel .popout-box {
    display: none; }
  .panel h2 {
    position: absolute;
    bottom: 5%;
    width: 100%;
    max-width: 1110px;
    text-align: center; }
  .panel .dot {
    display: block;
    background: #1c87c9;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 25px;
    padding: 3px 0 0;
    position: absolute;
    top: 30%;
    left: 300px;
    cursor: pointer; }
