section#info {
  background: transparent url('../../images/header.png') 0 0 no-repeat;
  background-size: 100%;
  padding: 55% 115px 50px;
  position: relative;
  top: 52500px;
  @include max-screen(675px) {
    top: -350px;
    padding-left: 0;
    padding-right: 0;
  }
  @include clearfix;
  
  sup {
    font-size: .83em;
    vertical-align: super;
  }
  .wrapper {
    max-width: 1280px;
    width: 100%;
    overflow: auto;
  }

  .logo { 
    h1 {
      background: transparent url('../../images/logo.png') 0 0 no-repeat;
      width: 280px;
      height: 44px; 
    }
    a {
      display: block;
      text-indent: -8400px;
      width: inherit;
      height: inherit;
    }
  }

  .mission-statement {
    width: 100%;
    max-width: 770px;
    text-align: left;
    color: #1c87c9;
    @include default(28px, 40px);
    margin: 95px 0 95px;
    @include max-screen(675px) {
      margin-bottom: 50px;
    }
    h2 {
      margin-bottom: 30px;
    }
  }

  .content {
    @include span-columns(8);
    @include max-screen(675px) {
      @include span-columns(12);
    }
    a {
      color:#0F4B7F;
    }
    h3 {
      margin: 0 0 14px;
    }
    p {
      margin-bottom:20px;
    }
    h3 + p {
      margin: 0 0 42px;
    }
    .footnote {
      color:#777;
      font-size:11px;
    }
    .testimonial {
      color:#1972BD;
      margin-bottom: 30px;
    }

    h4 {
      color:#777;
      margin-bottom: 10px;
    }
    h4 span {
      color:#666;
    }
    .accordion .accordion-content {
      padding-left:24px;
      height:0;
      overflow: hidden;
      opacity:0;
      -webkit-transition:all .3s ease-out;
      -moz-transition:all .3s ease-out;
      -ms-transition:all .3s ease-out;
      transition:all .3s ease-out;
    }
    .accordion.show .accordion-content {
      height:inherit;
      overflow: hidden;
      opacity: 1;
    }
    .accordion {
      margin:0;
      padding:20px;
      border:4px solid #CCC;
      color:#333;
      
    }
    .accordion:first-of-type {
      border-bottom:none;
    }
    .accordion h2 {
      cursor: pointer;
    }
    .accordion h2:hover {
      color:#1972BD;
    }
    .accordion h2:before {
      content:"\25BE";
      color: #1972BD;
      margin-right:10px;
    }
    .accordion.show h2 {
      margin-bottom: 20px;
    }
    .accordion.show h2:before {
      content:"\25B2";
      color:#AAA;
      font-size:15px;
      padding-bottom: 3px;
      display: inline-block;
      vertical-align: middle;
    }
    table {
      margin: 30px 0 58px;
      font-size: 13px;
      @include max-screen(675px) {
        width: 100%;
        table-layout: fixed;
      }
      tr {
        border-top: 1px solid #000;
        &:first-child {
          border-top: none;
          td:first-child {
            border-right: none;
          }
          td {
            font-weight: 900;
          }
        }
        td {
          padding: 12px;
          &:first-child {
            border-right: 1px solid #000;
            width: 10%;
            padding: 12px 12px 12px 0;
            font-weight: 900;
            @include max-screen(675px) {
              width: 30%;
            }
          }
        }
      }
    }
    .downloads, .videos {
      margin-bottom: 60px;
      h4 {
        color: #1c87c9;
        @include default(28px, 40px);
        text-transform: uppercase;
      }
      ul li {
        padding: 5px 0;
      }
      ul a {
        color: #1c87c9;
      }
    }
  }

  .connect {
    @include span-columns(3);
    @include shift(1);
    @include max-screen(675px) {
      @include span-columns(12);
      @include shift(0);
    }
    .privacy-policy {
      color:#999;
      font-size: 12px;
      line-height: 14px;
      margin: 20px 0;
    }
    h4 {
      color: #1c87c9;
      @include default(28px, 40px);
      text-transform: uppercase;
      text-align: center;
      padding: 0 0 10px;
    }
    p {
      text-align: center;
      line-height: 25px;
    }
    form {
      margin: 20px 0 0;
    }
    input {
      width: 100%;
      border: 0;
      -webkit-appearance: none;
      padding: 13px 10px;
      outline: none;
      background: #E8E8E8;
      box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
      margin: 0 0 10px;
      font-size: 22px;
      &::-webkit-input-placeholder {
        @include default(17px, 30px);
      }

      &:-moz-placeholder { /* Firefox 18- */
        @include default(17px, 30px);  
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        @include default(17px, 30px);  
      }

      &:-ms-input-placeholder {  
        @include default(17px, 30px);  
      }
    }
    select {
      display: block;
      margin-bottom: 20px;
      padding:12px;
      margin: 0;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      background: #f8f8f8;
      color:#888;
      border:none;
      outline:none;
      display: inline-block;
      cursor:pointer;
      width:100%;
      font-size:16px;
    }
    button {
      background: none;
      border: 0;
      outline: none;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      -webkit-appearance: none;
      color: #1c87c9;
      @include default(17px, 30px);
      &:after {
        display: block;
        content: '';
        width: 100px;
        margin: 0 auto;
        background: #1c87c9;
        height: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

