footer {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  @include clearfix;
}

.upball {
  float: right;
  margin: 50px;
  width: 100px;
  height: 100px;
  @include max-screen(675px) {
    display: none !important;
  }
  h1 {
    background: transparent url('../../images/upball.png') 0 0 no-repeat;
    height: 217px;
    background-size: 90%;
    background-position: top right;
  }
  a {
    display: block;
    text-indent: -8400px;
    width: inherit;
    height: inherit;
  }
}