header {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  @include clearfix;
  @include max-screen(630px) {
    position: relative;
  }

  .logo {
    float: right;
    margin: 50px;
    @include max-screen(630px) {
      float: none;
      margin: 30px auto;
    }
    h1 {
      background: transparent url('../../images/logo.png') 0 0 no-repeat;
      width: 280px;
      height: 44px; 
      background-size: 80%;
      background-position: top right;
      @include max-screen(630px) {
        background-position: 0 0;
        margin: 0 auto;
      }
    }
    a {
      display: block;
      text-indent: -8400px;
      width: inherit;
      height: inherit;
    }
  }
}